.logo{
    height: 110px;
    width: 130px;
}
.header {
    background: url(./assets/img/Collages/carousel3.jpg) no-repeat center;
    background-size: cover;
    min-height: 70vh;
  }
  .header .navbar {
    background-color: transparent !important;
  }
  h1{
    text-shadow: 0 0 10px red;
  }
h2{
    text-shadow: 0 0 10px red;
}
.tarjetas{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cards_div {
  background-color: rgb(95, 200, 200);
  padding: 2% 3% 2% 3%;
}

.card-text {
  font-size: medium;
}
.animal_pic {
  margin-top: 10px;
  padding: 1%;
}
.divisores{
  display: flex;
  justify-content: space-around;

}