.logo{
    height: 110px;
    width: 130px;
}
.header {
  background: url(./assets/img/Collages/gato-2.jpg) no-repeat center;
  background-size: cover;
  min-height: 80vh;

}

.header .navbar {
  background-color: transparent !important;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-shadow: red 0 0 10px;
}
.tarjetas{
  /* background-color: rgb(54, 204, 150); */
  background-image: url(./assets/img/Collages/fondoo.jpg);
  padding: 2% 3% 2% 3%;
  display: flex;
  justify-content: space-around;
}
.redonda{
  border-radius: 150px;
}

.intento{
  height: 140px;
}
.intento2{
  width: 16rem;
}
.juntar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@font-face {
  font-family: "Gotham";
  src: url("./GothamBook.ttf");
}

*{
  font-family: "Gotham";
}

.fondo_contactanos {
  width: 100%;
  position: absolute;

}

.logo {
  width: 180px;
}
.contenedor{
  display: flex;
  flex-direction: column;
  padding-top: 74px;
}
.espacio1{
  width: 239px;
  margin-bottom: 23px;

}
/* ---------------------------------------- */
nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #e74c3c;
    border-bottom:5px solid #e74c3c;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #e74c3c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
.perritos{
  border-radius: 150px;
  align-items: center;
  height: 250px;
  width: 400px;
}



