.logo{
    height: 110px;
    width: 130px;
}
.header {
  background: url(./assets/img/Collages/gato-2.jpg) no-repeat center;
  background-size: cover;
  min-height: 80vh;

}

.header .navbar {
  background-color: transparent !important;
  font-family: 'Montserrat', sans-serif;
  color: white;
  
}
.tarjetas{
  background-color: rgb(54, 204, 150);
  padding: 2% 3% 2% 3%;
  display: flex;
  justify-content: space-around;
}
.intento{
  height: 140px;
}
.intento2{
  width: 16rem;
}
.juntar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@font-face {
  font-family: "Gotham";
  src: url("./GothamBook.ttf");
}

*{
  font-family: "Gotham";
}

.fondo_contactanos {
  width: 100%;
  position: absolute;

}

.logo {
  width: 180px;
}
.contenedor{
  display: flex;
  flex-direction: column;
  padding-top: 74px;
}
.espacio1{
  width: 239px;
  margin-bottom: 23px;

}




